<div class="d-flex justify-content-center">

  <form action="/restaurants" method="POST" class="mt-2 p-5">
    <h2 class="d-flex justify-content-center">新增</h2>
    <div>
      <span class="list-name">餐廳名稱</span>
      <input type="text" placeholder="name" name="name" required="​required" />
    </div>

    <div class="mt-2">
      <span class="list-name">餐廳分類</span>
      <input type="text" placeholder="category" name="category" />

    </div>

    <div class="mt-2">
      <span class="list-name">餐廳圖片</span>
      <input type="text" placeholder="image" name="image" />

    </div>
    <div class="mt-2">
      <span class="list-name">餐廳地址</span>
      <input type="text" placeholder="location" name="location" />

    </div>

    <div class="mt-2">
      <span class="list-name">餐廳電話</span>
      <input type="text" placeholder="phone" name="phone" />

    </div>

    <div class="mt-2">
      <span class="list-name">餐廳地圖</span>
      <input type="text" placeholder="google_map" name="google_map" />

    </div>

    <div class="mt-2">
      <span class="list-name">餐廳評分</span>
      <input type="text" placeholder="rating" name="rating" />

    </div>

    <div class="mt-2">
      <span class="list-name">餐廳介紹</span>
      <input type="text" placeholder="description" name="description" />

    </div>

    <div class="mt-4 d-flex justify-content-center">
      <button
        class="btn btn btn-outline-danger m-2"
        type="submit"
      >Submit</button>

    </div>
    <div>
      <a class="d-flex justify-content-center" href="/">
        <button class="btn btn-info m-2">Back</button></a>
    </div>
  </form>

</div>